
/* start general formating of body contents start */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* end general formating of body contents  end */

/* start formatting of main title of page and currentDay start */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* end formatting of main title of page and currentDay end */


/* start formatting  divds 9AM to 5PM general start */


/* start formatting schedule blocks  start */
.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

input {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description{
  white-space: pre-wrap;
}
/* end formatting schedule blocks  end */


/* start formatting schedule blocks button start */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
 
}
/* end formatting schedule blocks button end */


/* end formatting divds 9AM to 5PM general end */


/* start time logic formating to 9AM to 5PM input area start */
/* driven by plannerLogic.js */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: rgb(2, 2, 2);
}

.future {
  background-color: #77dd77;
  color: rgb(7, 7, 7);
}
/* end time logic formating to 9AM to 5PM input area end */

/* END */


